<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{name}}</mat-card-title>
    <mat-card-subtitle>Personal Details</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/images/31.JPG" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
     This is the details of the above mentioned person.
     Name is {{name}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

